.mediaViewInfo {
	--web-view-name: Home-page – myAccountChangePassword – 1;
	--web-view-id: Home_page___myAccountChangePassword___1;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home_page___myAccountChangePassword___1;
}
* {
	margin: 0;
	padding: 0;
}
#Home_page___myAccountChangePassword___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Home-page – myAccountChangePassword – 1;
	--web-view-id: Home_page___myAccountChangePassword___1;
	--web-enable-deep-linking: true;
}
#HeaderTop {
	position: absolute;
	width: 1920px;
	height: 92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rect_ngulo_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.Logo_sense_fons_dreta_blanc {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 69px;
	left: 22px;
	top: 12px;
}
#pRIVACY_POLICY {
	position: absolute;
	left: 1558px;
	top: 34px;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: center;
	font-family: Radnika;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#TERMS_OF_USE {
	position: absolute;
	left: 1740px;
	top: 34px;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Radnika;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#HeaderMenu {
	position: absolute;
	width: 1920px;
	height: 86px;
	left: 0px;
	top: 92px;
	overflow: visible;
}
.Rect_ngulo_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Texto_Menu {
	position: absolute;
	width: 1511.331px;
	height: 73.5px;
	left: 204px;
	top: 12.5px;
	overflow: visible;
}
#Home {
	position: absolute;
	left: 0px;
	top: 13.5px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_3 {
	overflow: visible;
	position: absolute;
	top: 1px;
	left: 311.5px;
	width: 1px;
	height: 55px;
}
#Hello__John__My_Account {
	position: absolute;
	left: 1378px;
	top: 5.5px;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Trazado_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}
.Trazado_1 {
	overflow: visible;
	position: absolute;
	top: 23.5px;
	left: 1494px;
	width: 35.331px;
	height: 28.423px;
	transform: rotate(180deg);
}
#Search_product_ {
	position: absolute;
	left: 345px;
	top: 14.5px;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Your_search {
	opacity: 0.304;
	position: absolute;
	left: 534px;
	top: 16.5px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.L_nea_4 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 679.5px;
	width: 1px;
	height: 55px;
}
#Categories_ {
	position: absolute;
	left: 721px;
	top: 14.5px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_5 {
	overflow: visible;
	position: absolute;
	top: 1px;
	left: 908.5px;
	width: 1px;
	height: 55px;
}
#My_orders {
	position: absolute;
	left: 950px;
	top: 14.5px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_6 {
	overflow: visible;
	position: absolute;
	top: 1px;
	left: 1104.5px;
	width: 1px;
	height: 55px;
}
.L_nea_8 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 1336.5px;
	width: 1px;
	height: 55px;
}
#Current_order {
	position: absolute;
	left: 1146px;
	top: 14.5px;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Documents {
	position: absolute;
	left: 142px;
	top: 13.5px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_9 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 100.5px;
	width: 1px;
	height: 55px;
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 116px;
	left: 0px;
	top: 964px;
	overflow: visible;
}
.Rect_ngulo_4 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 116px;
	left: 0px;
	top: 0px;
}
#Privacy_policy {
	position: absolute;
	left: 794px;
	top: 27px;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: center;
	font-family: Radnika;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Terms_of_use {
	position: absolute;
	left: 1009px;
	top: 27px;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: center;
	font-family: Radnika;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.L_nea_7 {
	overflow: visible;
	position: absolute;
	top: 27.5px;
	left: 959.5px;
	width: 1px;
	height: 31px;
}
#__2016_KTTAPE_EUROPE___All_rig {
	position: absolute;
	left: 815px;
	top: 74px;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: center;
	font-family: Radnika;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#myAccountSettings {
	position: absolute;
	width: 1698.5px;
	height: 541px;
	left: 110px;
	top: 302px;
	overflow: visible;
}
.L_nea_10 {
	overflow: visible;
	position: absolute;
	top: 154.5px;
	left: 1.5px;
	width: 1697px;
	height: 1px;
}
#Name {
	position: absolute;
	left: 1px;
	top: 102px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#surname_modified_correctly_ {
	position: absolute;
	left: 1px;
	top: 178px;
	overflow: visible;
	width: 409px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_11 {
	overflow: visible;
	position: absolute;
	top: 230.5px;
	left: 1.5px;
	width: 1697px;
	height: 1px;
}
#Email {
	position: absolute;
	left: 1px;
	top: 254px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#my_account {
	position: absolute;
	left: 1px;
	top: 0px;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
.L_nea_15 {
	overflow: visible;
	position: absolute;
	top: 306.5px;
	left: 1.5px;
	width: 1697px;
	height: 1px;
}
#country {
	position: absolute;
	left: 1px;
	top: 330px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.L_nea_16 {
	overflow: visible;
	position: absolute;
	top: 382.5px;
	left: 1.5px;
	width: 1697px;
	height: 1px;
}
#Password {
	position: absolute;
	left: 1px;
	top: 406px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#john {
	opacity: 0.47;
	position: absolute;
	left: 112px;
	top: 102px;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#John_wick_johnwick_com {
	opacity: 0.47;
	position: absolute;
	left: 118px;
	top: 254px;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#United_States_of_America {
	opacity: 0.47;
	position: absolute;
	left: 163px;
	top: 330px;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Required {
	opacity: 0.47;
	position: absolute;
	left: 273px;
	top: 406px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#New_Password {
	position: absolute;
	left: 0px;
	top: 459px;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Required_A12_Text_25 {
	opacity: 0.47;
	position: absolute;
	left: 273px;
	top: 459px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Add_button {
	position: absolute;
	width: 64px;
	height: 25px;
	left: 1px;
	top: 516px;
	overflow: visible;
}
#Rect_ngulo_6 {
	filter: drop-shadow(5px 3px 6px rgba(0, 0, 0, 0.161));
}
.Rect_ngulo_6 {
	position: absolute;
	overflow: visible;
	width: 82px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#Change {
	position: absolute;
	left: 8px;
	top: 7px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(0,0,0,1);
}